.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  h2{
    margin: 0;
  }
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
